:root {
  --color-primary: #2eb1e7;
  --color-primary-hover: #1598CE;
  --color-control-button: #444;
  --color-text: rgba(255, 255, 255, .8);
  --color-text-progress: rgba(255, 255, 255, .5);
  --color-text-footer: rgba(255, 255, 255, .4);
  --color-background-header: #1e2122;
  --color-background-footer: #1e2122;
  --color-background-body: #252627;
  --color-background-progress: #353637;
  --color-background-progress-active: rgba(255, 255, 255, .04);
  --color-background-progress-active-hover: rgba(255, 255, 255, .08);
  --color-background-error: #a94442;
  --color-background-sidebar: rgba(255, 255, 255, .9);
  --color-background-playlist-item: #444;
  --color-background-playlist-item-hover: #555;
  --grid-sidebar-width: 44px;
  --spacing-xs: .2rem;
  --spacing-s: .5rem;
  --spacing-m: 1rem;
  --font-size: 120%;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Ubuntu, Helvetica, Arial, sans-serif;
  --button-letter-spacing: .06rem;
  --progress-height: 2rem;
  --progress-border-size: 4px;
  --nav-link-border-size: 4px;
  --playlist-border-size: 4px;
  --z-index-header: 5;
  --z-index-logo: 10;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  width: 360px;
  font-size: 1rem;
  margin: 0;
  color: var(--color-text);
}

/* Resets */

a {
  color: inherit;
}

button {
  color: inherit;
  border: none;
  border-radius: 0;
  margin: 0;
}
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

hr {
  border-color: var(--color-background-progress);
}

p, pre {
  margin: 0;
}

/* Layout */

#app {
  display: grid;
  grid-template-columns: var(--grid-sidebar-width) 1fr;
  grid-template-areas:
    "logo   header"
    "status status"
    "nav    main"
    "footer footer";
}

/* Components (grid areas) */

.c-logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--grid-sidebar-width);
  background-color: var(--color-background-header);
  z-index: var(--z-index-logo); /* Prevent leakage of `.c-header` box-shadow into logo area. */
}
.c-logo img {
  display: block;
  height: 28px;
}

.c-header {
  grid-area: header;
  display: flex;
  align-items: center;
  font-size: 90%;
  padding: 0 var(--spacing-m);
  background-color: var(--color-background-header);
  box-shadow: 0 2px 10px rgba(255, 255, 255, .02);
  overflow: hidden;
  z-index: var(--z-index-header); /* Make `box-shadow` visible on areas below. */
}
.c-header__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.c-loader {
  grid-area: status;
  height: 2px;
  position: relative;
  overflow: hidden;
  background-color: var(--color-background-body);
}
.c-loader::before{
  display: none;
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  opacity: .6;
  animation: loading 2s ease-in-out infinite;
}
.c-loader--show::before {
  display: block;
}

.c-info {
  grid-area: status;
  background-color: var(--color-background-body);
}
.c-info__status {
  font-size: 80%;
  padding: var(--spacing-s) var(--spacing-m);
}
.c-info__status--error {
  background-color: var(--color-background-error);
}
.c-info__status--error::before {
  content: "⚠";
}
.c-info__status--error p {
  display: inline;
}

.c-nav {
  grid-area: nav;
  background-color: var(--color-background-sidebar);
}
.c-nav__link {
  display: block;
  padding: var(--spacing-s) var(--spacing-s) var(--spacing-s) calc(var(--spacing-s) - var(--nav-link-border-size));
  text-align: center;
  border-left: var(--nav-link-border-size) solid transparent;
}
.c-nav__link:hover {
  background-color: var(--color-primary);
}
.c-nav__link:hover svg {
  fill: var(--color-text);
}
.c-nav__link--active {
  border-left-color: var(--color-primary);
}
.c-nav__link svg {
  display: block;
}

.c-main {
  grid-area: main;
  background-color: var(--color-background-body);
  overflow-x: hidden; /* This is needed for `text-overflow: ellipsis` properties inside sections. */
}

/* Components (grid area children) */

.c-section {
  position: relative;
  display: none;
}
.c-section--active {
  display: block;
}
.c-section__content {
  padding: var(--spacing-m);
}

.c-controls {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-m) 0 0 0;
}
.c-controls--active {
  color: var(--color-primary);
}
.c-controls__button {
  font-size: 120%;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #444;
  padding: var(--spacing-xs) 0;
  text-align: center;
  width: 58px;
  transition: background-color .1s;
}
.c-controls__button:hover {
  background-color: var(--color-control-button);
}
.c-controls__volume {
  width: 100%;
}
.c-controls__volume input {
  min-width: 100%;
  margin: 0; /* Override browser styles. */
  padding: 0; /* Override browser styles. */
  inline-size: 100%; /* Override Firefox styles. */
}
.c-controls__repeat {
  position: relative;
}
.c-controls__repeat__one::after {
  content: '1';
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 70%;
}

.c-share {
  display: flex;
  list-style: none; /* Override browser styles. */
  padding: 0; /* Override browser styles. */
  margin: 0; /* Override browser styles. */
}
.c-share__now,
.c-share__more {
  display: block;
}
.c-share__now  {
  flex-grow: 1;
  margin-right: 1px;
}
.c-share__more {
  flex-shrink: 0;
  position: relative;
  width: 58px;
}
.c-share__more:focus-within .c-share__dropdown {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
}
.c-share__dropdown {
  display: none;
  background-color: var(--color-primary);
  margin: 1px 0 0 0;
  list-style: none; /* Override browser styles. */
  padding: 0; /* Override browser styles. */
}
.c-share__button {
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: var(--button-letter-spacing);
  width: 100%;
  padding: var(--spacing-s) var(--spacing-m);
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color .2s;
}
.c-share__button:hover {
  background-color: var(--color-primary-hover);
}
.c-share__button--dropdown {
  font-size: .6rem;
  font-weight: normal;
  letter-spacing: normal;
  white-space: nowrap;
}

.c-progress {
  position: relative;
  width: 100%;
  background-color: var(--color-background-progress);
  cursor: pointer;
}
.c-progress:hover .c-progress__bar {
  background-color: var(--color-background-progress-active-hover);
}
.c-progress__bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-background-progress-active);
  border-bottom: var(--progress-border-size) solid var(--color-primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: background-color .1s, transform .9s;
}
.c-progress__timing {
  color: var(--color-text-progress);
  font-size: 60%;
  text-align: right;
  line-height: var(--progress-height);
  padding-right: var(--spacing-m);
  user-select: none;
}

.c-playlist {
  font-size: 80%;
  max-height: 500px;
  overflow-y: auto;
}
.c-playlist > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-playlist--text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.c-playlist__item {
  position: relative;
  background-color: var(--color-background-playlist-item);
  border-left: var(--playlist-border-size) solid transparent;
  padding: var(--spacing-s) var(--spacing-m) var(--spacing-s) calc(var(--spacing-m) - var(--playlist-border-size));
  margin-bottom: 2px;
  transition: background-color .1s;
}
.c-playlist__item:hover {
  background-color: var(--color-background-playlist-item-hover);
}
.c-playlist__item--playing {
  border-left-color: var(--color-primary);
}
.c-playlist__item--playing .c-playlist__title {
  font-weight: bold;
}
.c-playlist__item--playing .c-playlist__actions {
  display: none;
}
.c-playlist__title {
  display: block;
}
.c-playlist__subtitle {
  display: block;
  font-size: 90%;
}
.c-playlist__actions {
  position: absolute;
  top: 0;
  right: 0;
}
.c-playlist__button {
  display: block;
  margin-bottom: 1px;
  background-color: var(--color-background-body);
  opacity: .4;
  transition: opacity .1s;
  cursor: pointer;
}
.c-playlist__button:hover {
  opacity: 1;
}

.c-devices {
  font-size: 80%;
}

.c-form {}
.c-form .c-form__group:first-child label {
  margin-top: 0;
}
.c-form__group--flex {
  display: flex;
}
.c-form__group--flex > *:first-child {
  margin-right: var(--spacing-s);
}
.c-form__group label {
  display: block;
  margin: var(--spacing-s) 0 var(--spacing-xs) 0;
}
.c-form__group input {
  display: block;
  width: 100%;
  border: 1px solid var(--color-background-header);
  padding: var(--spacing-xs) var(--spacing-s);
}
.c-form__button {
  background-color: var(--color-primary);
  padding: var(--spacing-s) var(--spacing-m);
  margin-top: var(--spacing-m);
  width: 100%;
  color: #fff;
  font-weight: 600;
  letter-spacing: var(--button-letter-spacing);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .2s;
}
.c-form__button:hover {
  background-color: var(--color-primary-hover);
}

.c-options {
  font-size: 80%;
}
.c-options table {
  border: none;
  margin-bottom: var(--spacing-m);
}
.c-options table th,
.c-options table td {
  padding: 0;
}
.c-options table th {
  font-weight: normal;
  text-align: left;
  padding-right: var(--spacing-s);
}
.c-options__button {
  background-color: var(--color-primary);
  padding: var(--spacing-s) var(--spacing-m);
  margin-top: var(--spacing-m);
  color: #fff;
  font-weight: 600;
  letter-spacing: var(--button-letter-spacing);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .2s;
}
.c-options__button:hover {
  background-color: var(--color-primary-hover);
}
.c-options__notice {
  margin-top: var(--spacing-m);
}

.c-help {}
.c-help__headline {
  margin: 0 0 var(--spacing-m) 0;
}

.c-footer {
  grid-area: footer;
  font-size: 70%;
  display: flex;
  background-color: var(--color-background-footer);
  color: var(--color-text-footer);
  padding: var(--spacing-s);
}
.c-footer a,
.c-footer a:visited {
  color: var(--color-text-footer);
  text-decoration: none;
}
.c-footer a:hover {
  color: var(--color-text);
}
.c-footer__name {
  flex-grow: 1;
}
.c-footer__version {
  flex-grow: 1;
  text-align: right;
}

/* Animations */

@keyframes loading {
  from {
    left: 0;
    width: 0;
  }
  30% {
    left: 0;
  }
  70% {
    width: 100%;
  }
  to {
    left: 100%;
    width: 0;
  }
}
