:root {
  --color-primary: #2eb1e7;
  --color-primary-hover: #1598CE;
  --color-text: rgba(255, 255, 255, .8);
  --color-text-progress: rgba(255, 255, 255, .5);
  --color-text-footer: rgba(255, 255, 255, .4);
  --color-text-sidebar: #2b2f30;
  --color-background-header: #1e2122;
  --color-background-progress: #353637;
  --color-background-progress-active: #353637;
  --color-background-body: #252627;
  --color-background-footer: #1e2122;
  --color-background-error: #a94442;
  --color-background-sidebar: rgba(255, 255, 255, .9);
  --spacing-xs: .2rem;
  --spacing-s: .5rem;
  --spacing-m: 1rem;
  --font-size: 120%;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Ubuntu, Helvetica, Arial, sans-serif;
  --progress-height: 2rem;
  --sidebar-width: 44px;
  --z-index-sidebar: 10;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  width: 360px;
  font-size: 1rem;
  margin: 0;
  color: var(--color-text);
}

/* Resets */

a {
  color: inherit;
}

button {
  color: inherit;
  border: none;
  border-radius: 0;
  margin: 0;
}
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

p, pre {
  margin: 0;
}

/* Components */

.c-header {
  position: relative;
  background-color: var(--color-background-header);
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(255, 255, 255, .08)
}

.c-header__logo {
  display: flex;
  justify-content: center;
  min-width: var(--sidebar-width);
  padding: var(--spacing-s) 0;
}
.c-header__logo img {
  height: 28px;
}
.c-header__playing {
  font-size: 90%;
  padding: var(--spacing-s) var(--spacing-m);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.c-loader {
  height: 2px;
  position: relative;
  overflow: hidden;
  background-color: var(--color-background-body);
}
.c-loader::before{
  display: none;
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  opacity: .6;
  animation: loading 2s ease-in-out infinite;
}
.c-loader--show::before {
  display: block;
}

.c-info {
  background-color: var(--color-background-body);
}
.c-info__status {
  font-size: 80%;
  padding: var(--spacing-s) var(--spacing-m);
}
.c-info__status--error {
  background-color: var(--color-background-error);
}
.c-info__status--error::before {
  content: "⚠";
}
.c-info__status--error p {
  display: inline;
}

.c-body {
  display: flex;
  background-color: var(--color-background-body);
}
.c-body__nav {
  flex-shrink: 0;
  width: var(--sidebar-width);
}
.c-body__main {
  flex-grow: 1;
}

.c-nav {
  background-color: var(--color-background-sidebar);
}
.c-nav__link {
  display: block;
  color: var(--color-text-sidebar);
  padding: var(--spacing-s);
  text-align: center;
  border-left: 4px solid transparent;
}
.c-nav__link:hover {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.c-nav__link:hover svg {
  fill: var(--color-text);
}
.c-nav__link--active {
  border-color: var(--color-primary);
}
.c-nav__link svg {
  display: block;
}

.c-section {
  position: relative;
  display: none;
}
.c-section--active {
  display: block;
}
.c-section__content {
  padding: var(--spacing-m);
}

.c-main {
  flex-grow: 1;
}

.c-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-m) 0 var(--spacing-s) 0;
}
.c-controls--active {
  color: var(--color-primary);
}
.c-controls__button {
  font-size: 120%;
  background-color: transparent;
  cursor: pointer;
  padding: 0; /* Override Firefox styles. */
}
.c-controls__volume {
  width: 160px;
}
.c-controls__volume input {
  min-width: 100%;
  margin: 0; /* Override browser styles. */
  padding: 0; /* Override browser styles. */
  inline-size: 100%; /* Override Firefox styles. */
}
.c-controls__repeat {
  position: relative;
}
.c-controls__repeat__one::after {
  content: '1';
  position: absolute;
  top: 0;
  right: -6px;
  font-size: 70%;
}

.c-share {
  display: flex;
  list-style: none; /* Override browser styles. */
  padding: 0; /* Override browser styles. */
  margin: 0; /* Override browser styles. */
}
.c-share__now,
.c-share__more {
  display: block;
}
.c-share__now  {
  flex-grow: 1;
  margin-right: 1px;
}
.c-share__more {
  flex-shrink: 0;
  position: relative;
  width: 50px;
}
.c-share__more button:focus + * {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
}
.c-share__dropdown {
  display: none;
  background-color: var(--color-primary);
  margin: 1px 0 0 0;
  list-style: none; /* Override browser styles. */
  padding: 0; /* Override browser styles. */
}
.c-share__button {
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: .06rem;
  width: 100%;
  padding: var(--spacing-s) var(--spacing-m);
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color .2s;
}
.c-share__button:hover {
  background-color: var(--color-primary-hover);
}

.c-progress {
  position: relative;
  width: 100%;
  height: var(--progress-height);
  background-color: var(--color-background-progress);
}
.c-progress__bar {
  position: absolute;
  height: var(--progress-height);
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid var(--color-primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .99s;
}
.c-progress__timing {
  color: var(--color-text-progress);
  font-size: 60%;
  text-align: right;
  line-height: var(--progress-height);
  padding-right: var(--spacing-m);
}

.c-setup {
  padding: var(--spacing-m);
  background-color: var(--color-background-body);
}
.c-setup__headline {
  margin: 0 0 1rem 0;
}

.c-footer {
  font-size: 70%;
  display: flex;
  background-color: var(--color-background-footer);
  color: var(--color-text-footer);
  padding: var(--spacing-s);
}
.c-footer a,
.c-footer a:visited {
  color: var(--color-text-footer);
  text-decoration: none;
}
.c-footer a:hover {
  color: var(--color-text);
}
.c-footer__name {
  flex-grow: 1;
}
.c-footer__version {
  flex-grow: 1;
  text-align: right;
}

/* Animations */

@keyframes loading {
  from {
    left: 0;
    width: 0;
  }
  30% {
    left: 0;
  }
  70% {
    width: 100%;
  }
  to {
    left: 100%;
    width: 0;
  }
}
